[ req ]
default_bits        = 2048
default_md          = sha256
default_days        = 365
encrypt_key         = no
distinguished_name  = subject
req_extensions      = req_ext
string_mask         = utf8only
prompt              = no

[ subject ]
organizationName    = Snapdrop
OU                  = Development
commonName           = ${ENV::FQDN}

[ req_ext ]
subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alt_names
nsComment            = "OpenSSL Generated Certificate"
extendedKeyUsage     = serverAuth

[ alt_names ]
DNS.1 = ${ENV::FQDN}
DNS.2 = localhost